body {
    background-color: rgb(238, 237, 169);
}

h1 {
    text-align: center;
    color: rgb(219, 80, 15);
}

.image {
    display: block;
    margin: 30px auto;
}

li {
    display: block;
    margin: 20px;
    text-align: center;
}

.one,
.two,
.three {
    background-color: yellowgreen;
    padding: 10px;
    font-size: 20px;
    font: bold;
    border-radius: 10px;
}
