* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #f8cf84;
    text-align: center;

}

h1 {
    text-align: center;
    color: #4c6e31;
    font-size: 36px;
}

.image {
    display: block;
    margin: 30px auto;
}

.flex-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.flex-container div {
    width: 180px;
    margin: 10px;
    text-align: center;
    border: 3px solid #fa5b12;
    background-color: #f2ae1c;
    padding: 20px;
    font-size: 20px;
    font: bold;
    border-radius: 10px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;  
    
}
