* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #e9f0ce;
    text-align: center;
}

h1 {
    text-align: center;
    color: #687339;
    font-size: 36px;
}

.image {
    display: block;
    margin: 30px auto;
}

.flex-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.flex-container div {
    width: 180px;
    margin: 10px;
    text-align: center;
    border: 3px solid #d45464;
    background-color: #cedd55;
    padding: 20px;
    font-size: 20px;
    font: bold;
    border-radius: 20px 0 20px 0 ;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;  
}
